.card__container {
  // background-color: rebeccapurple;
  h1 {
    font-size: 1.5rem;
    color: var(--blue);
  }
  margin-bottom: 2rem;
}

.product_card_wrapper {
  width: 100px;
  overflow: hidden;
  img {
    height: 100px;
    width: 100px;
  }

  h3 {
    font-size: 12px;
    text-align: center;
    padding: 0.4rem;
    border-top: 1px solid gray;
  }

  border: 1px solid gray;
}

.pc__imageWrapper {
  position: relative;
  svg {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    svg {
      transition: all 0.3s ease-in-out;
      display: block;
    }
  }
}

.cards_wrapper {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.product_card_wrapper {
  cursor: pointer;
}
